In [2]:
import keras 
import tensorflow as tf

import pandas as pd
import statsmodels.api

In [5]:
data = statsmodels.datasets.get_rdataset('mtcars').data

In [12]:
data.head(2)

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
rownames
Mazda RX4      21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4

In [15]:
data.nunique()

mpg     25
cyl      3
disp    27
hp      22
drat    22
wt      29
qsec    30
vs       2
am       2
gear     3
carb     6
dtype: int64

In [8]:
X, y = data.drop(columns=['mpg']).values, data['mpg'].values.reshape(-1, 1)

### Layer oneHot